/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

header {
  background-image: url(../img/01.jpg);
  height: 70vh;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
}

header h5 {
  color: #fff !important;
  font-weight: 900;
  font-size: 30px;
  font-family: 'Rubik', sans-serif;
}

.overly {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.description-schoolLive p {
  font-size: 14px;
  color: #555;
}

.description-schoolLive .line {
  width: 10%;
  height: 2px;
  background-color: #c7634e;
}

.next, .prev {
  color: #c7634e !important;
  font-size: 22px;
  font-weight: 500;
}