/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.item-video {
  position: relative;
  overflow: hidden;
}

.item-video i {
  cursor: pointer;
  color: #fff;
  font-size: 40px;
}

.trans {
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}