.item-video {
    position: relative;
    overflow: hidden;

    i {
        cursor: pointer;
        color: #fff;
        font-size: 40px;
    }
}

.trans {
    transition: 1s all;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}